<!DOCTYPE html>
<html>
  <head>
    <title>Cambio de Contraseña Exitoso</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      "
    >
      <!-- Header with Logo -->
      <header
        style="
          background-color: #006633;
          color: #fff;
          text-align: center;
          padding: 20px;
        "
      >        
        <h1>Cambio de Contraseña Exitoso</h1>
      </header>
      <!-- Main Content -->
      <section style="padding: 20px">
        <p>Tu contraseña ha sido cambiada exitosamente.</p>
        <p>
          Si no solicitaste este cambio, por favor, contacta a nuestro equipo de
          soporte de inmediato.
        </p>
      </section>
      <!-- Footer -->
      <footer
        style="
          background-color: #006633;
          color: #fff;
          text-align: center;
          padding: 10px;
        "
      >
        <p>Equipo de Administración LDAP Cujae</p>
      </footer>
    </div>
  </body>
</html>
