<!-- reset-password-email.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Restablecimiento de Contraseña</title>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="padding: 20px 0; text-align: center">
          <h1>Restablecimiento de Contraseña</h1>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 0">
          <p>Hola, {{name}}!</p>
          <p>
            Has solicitado restablecer tu contraseña. Haz clic en el siguiente
            enlace para restablecer tu contraseña:
          </p>
          <p>
            <a
              href="http://localhost:3000/recover-password"
              style="
                display: inline-block;
                background-color: #007bff;
                color: #fff;
                padding: 10px 20px;
                text-decoration: none;
              "
              >Restablecer Contraseña</a
            >
          </p>
          <p>Si no solicitaste esto, puedes ignorar este correo.</p>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 0; text-align: center">
          <p>Equipo de Administración LDAP Cujae</p>
        </td>
      </tr>
    </table>
  </body>
</html>
