<!-- reset-password-email.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Restablecimiento de Contraseña</title>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="padding: 20px 0; text-align: center">
          <h1>Restablecimiento de Contraseña</h1>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 0">
          <p>Hola, {{name}}!</p>
          <p>
            Has solicitado restablecer tu contraseña. Copia el siguiente código
            en el formulario que te enviamos para restablecer tu contraseña:
          </p>
          <h2>{{code}}</h2>
          <p>Si no solicitaste esto, puedes ignorar este correo.</p>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 0; text-align: center">
          <p>Equipo de Administración LDAP Cujae</p>
        </td>
      </tr>
    </table>
  </body>
</html>
